* {
    margin: 0;
}
.box-1 {
    position: absolute;
    background-color: rgb(208, 219, 230);
    height: 100px;
    width: 100%;
}

.inner-box{
    position: relative;
    background-color: rgb(48, 134, 226);
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
   

}

.box-2 {
    position: absolute;
    height: 100px;
    width: 100%;

}

.box-2 > p {
    margin-top: 130px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -100px;
}

.box-3 {
    position: absolute;
    background-color: rgb(48, 134, 226);
    height: 150px;
    width: 100%;
    margin-top: 430px;
    margin-bottom: 80%;
  
}

.box-4 {
    position: absolute;
    background-color: rgb(143, 226, 226);
    height: 150px;
    width: 100%;
    margin-top: 580px;
    margin-bottom: 800px;
  
}

.box-5 {
    position: absolute;
    background-color: rgb(189, 236, 79);
    height: 150px;
    width: 100%;
    margin-top: 730px;
    margin-bottom: 800px;
  
}

.box-6 {
    position: absolute;
    background-color: rgb(242, 207, 53);
    height: 150px;
    width: 100%;
    margin-top: 880px;
    margin-bottom: 800px;
  
}